*{
  padding: 0%;
  margin: 0%;


  
}
h1{
  color: red;
}
h4{
  color: blue;
}
.container{
 
border: 2px  solid red;
}
.child-1,.child-2,.child-3,.child-4,.child-5{
  width: 350px;
  height: 30px;
  background-color: red;
  margin: 10px;
  border-radius: 5px;
  color:olivedrab;
 
  
}
.child-a>div{
  width: 90%;
  background-color: burlywood;
  height: 100%;
  border-radius: 5px;
  font-size: xx-large;
}
.child-b>div{
  width: 80%;
  background-color: burlywood;
  height: 100%;
  border-radius: 5px;
  font-size: xx-large;
}
.child-c>div{
  width: 80%;
  background-color: burlywood;
  height: 100%;
  border-radius: 5px;
  font-size: xx-large;
}

.child-d>div{
  width: 75%;
  background-color: burlywood;
  height: 100%;
  border-radius: 5px;
  font-size: x-large;
}
.child-e>div{
  width: 50%;
  background-color: burlywood;
  height: 100%;
  border-radius: 5px;
  font-size: xx-large;
}
h1{
  color: red;
}
h4{
  color: blue;
}
.container{
 
border: 2px  solid red;
}
.child-1,.child-2,.child-3,.child-4,.child-5{
  width: 350px;
  height: 30px;
  background-color: red;
  margin: 10px;
  border-radius: 5px;
  color:olivedrab;
 
  
}
.child-1>div{
  width: 75%;
  background-color: burlywood;
  height: 100%;
  border-radius: 5px;
  font-size: xx-large;
}
.child-2>div{
  width: 50%;
  background-color: burlywood;
  height: 100%;
  border-radius: 5px;
  font-size: xx-large;
}
.child-3>div{
  width: 30%;
  background-color: burlywood;
  height: 100%;
  border-radius: 5px;
  font-size: xx-large;
}

.child-4>div{
  width: 10%;
  background-color: burlywood;
  height: 100%;
  border-radius: 5px;
  font-size: x-large;
}
.child-5>div{
  width: 100%;
  background-color: burlywood;
  height: 100%;
  border-radius: 5px;
  font-size: xx-large;
}